@use '_commons' as c;

h3 {
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    padding-top: 19px;
  }
  
  .h3p {
    font-size: 18px;
    padding-top: 0;
  }
  
  .compra {
    font-size: 18px;
  }